apiVersion: v2
name: cert-manager
description: A Helm chart with cert-manager as subchart
type: application
version: 0.1.0
appVersion: "0.1.0"
dependencies:
  - name: cert-manager
    version: v1.19.2
    repository: oci://quay.io/jetstack/charts
    alias: cert-manager
    condition: cert-manager.enabled