cert-manager:
  namespace: cert-manager
  crds:
    enabled: true
  replicaCount: 2

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  webhook:
    replicaCount: 2
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

  cainjector:
    replicaCount: 2
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  prometheus:
    enabled: true
    servicemonitor:
      enabled: false  # set true only if you run Prometheus Operator

  podDisruptionBudget:
    enabled: true
