secret:
  jwt:
    anonKey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY3MDM0ODAwLCJleHAiOjE5MjQ4MDEyMDB9.3FzYb32-dv1XQE9U_AG1t662Uu15nF8NRoH0vAC6Pyk"
    serviceKey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjcwMzQ4MDAsImV4cCI6MTkyNDgwMTIwMH0.2xTMLxC8O7i0wskvG5cQ6ILwkoFR_5oOcWQ1Bn0DpSs"
    secret: "zZxVbxUUJtPLEkKGcV77HGMzuK8ANCUPqrKOg70V"
  smtp:
    username: your-mail@agentic.staging.floorzap.info
    password: example123456
  dashboard:
    username: admin
    password: admin
  db:
    password: example123456
    database: postgres
  analytics:
    publicAccessToken: mL79jbAlfZDsfqJWbBQtFkZJfb241WW0
    privateAccessToken: 2Q2M2SlIorbgXlF/UiorQ35AqRAu80q6
  realtime:
    secretKeyBase: n7wZI92Jv0km5yF3hxaq0AsFmfvr0eqPQUHNUpwvyvb/+sE7WM/UjC1L0Wk2aX1u
  meta:
    cryptoKey: "ge7Y0I3z0zB+KIqMPzg6blLIsL9I9Ttx"
  s3:
    isValid: false
    keyId: "asdvajsd"
    accessKey: "asdbjahsbdjhasd"

db:
  enabled: true
  image:
    tag: 15.8.1.085
  livenessProbe:
    exec:
      command:
        - pg_isready
        - -U
        - postgres
    initialDelaySeconds: 3
  serviceAccount:
    create: true
  service:
    type: ClusterIP
    port: 5432
  autoscaling:
    enabled: false
  persistence:
    enabled: false

studio:
  image:
    tag: 2025.11.10-sha-5291fe3
  environment:
    DEFAULT_ORGANIZATION_NAME: Default Organization
    DEFAULT_PROJECT_NAME: Default Project
    SUPABASE_PUBLIC_URL: http://agentic.staging.floorzap.info
    NEXT_PUBLIC_ENABLE_LOGS: true

auth:
  image:
    tag: v2.182.1
  environment:
    API_EXTERNAL_URL: http://agentic.staging.floorzap.info
    GOTRUE_SITE_URL: http://agentic.staging.floorzap.info
    GOTRUE_EXTERNAL_EMAIL_ENABLED: "true"
    GOTRUE_MAILER_AUTOCONFIRM: "true"
    GOTRUE_SMTP_ADMIN_EMAIL: "your-mail@agentic.staging.floorzap.info"
    GOTRUE_SMTP_HOST: "smtp.agentic.staging.floorzap.info"
    GOTRUE_SMTP_PORT: "587"
    GOTRUE_SMTP_SENDER_NAME: "your-mail@agentic.staging.floorzap.info"

rest:
  image:
    tag: v13.0.7

realtime:
  image:
    tag: v2.63.0
  livenessProbe:
    httpGet:
      path: /
      port: 4000
    initialDelaySeconds: 3

meta:
  image:
    tag: v0.93.1

storage:
  image:
    tag: v1.29.0
  livenessProbe:
    httpGet:
      path: /status
      port: 5000
    initialDelaySeconds: 3
  persistence:
    enabled: false

imgproxy:
  image:
    tag: v3.8.0
  environment:
    IMGPROXY_ENABLE_WEBP_DETECTION: "true"
  livenessProbe:
    exec:
      command:
        - imgproxy
        - health
    initialDelaySeconds: 3
  persistence:
    enabled: false

kong:
  image:
    repository: kong
    tag: 2.8.1
  environment:
    KONG_DECLARATIVE_CONFIG: /usr/local/kong/kong.yml
    KONG_LOG_LEVEL: info
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
    tls: []
      # - secretName: example-ingress-tls
      #   hosts:
      #     - agentic.staging.floorzap.info
    hosts:
      - host: agentic.staging.floorzap.info
        paths:
          - path: /
            pathType: Prefix

analytics:
  image:
    tag: 1.22.6
  livenessProbe:
    httpGet:
      path: /health
      port: 4000
    initialDelaySeconds: 3
  bigQuery:
    enabled: false

vector:
  image:
    tag: 0.28.1-alpine
  livenessProbe:
    httpGet:
      path: /health
      port: 9001
    initialDelaySeconds: 3
  ## Vector requires logs from the control plane to function.
  ## This is normally stored in /var/log/pods
  ## Modify these values according to your environment.
  volumeMounts:
    - name: pod-logs
      mountPath: /var/log/pods
  volumes:
    - name: pod-logs
      hostPath:
        path: /var/log/pods

functions:
  image:
    tag: v1.68.4

minio:
  image:
    repository: minio/minio
    pullPolicy: IfNotPresent
    tag: "latest"
  enabled: true
  serviceAccount:
    create: true
  service:
    type: ClusterIP
    port: 9001
  autoscaling:
    enabled: false
  persistence:
    enabled: true
    storageClassName: "managed-csi"
    annotations: {}
    size: 8Gi
    accessModes:
      - ReadWriteOnce
    class: ""